$blue:   #354685;
$blue-10:   #EBEDF3;
$blue-80:   #CCD1E0;
$blue-85:   #B8BED4;
$blue-90:   #B3B9D1;
$blue-100:   #9AA3C2;
$blue-800:   #4C61AD;
$blue-light:   #687DCB;
$cyan-light:   #65B3C6;
$cyan-blue:   #1fabe3;
$green-10: #E6F6F0;
$green-20: #DFEFE9;
$green: #00A066;
$red:     #F54D4E;
$red-800:     #FF5B51;
$red-80:     #F77171;
$red-light:     #FE5C5C;
$yellow-light:     #F1AD4A;
$yellow-10:     #FEF7ED;
$grey:     #ADADAD;
$grey-10:     #F8F8F8;
$grey-20:     #E6E6E6;
$grey-base:     #CDCDCD;
$grey-base-10:     #C7C7C7;
$grey-base-50:     #9D9D9C;
$grey-base-800:     #677079;
$white:     #FFFFFF;
$white:     #FFFFFF;
$white-10:     #F1F1F1;
$light-dark: #494646;
$light-dark-30: #C8C8C8;
$black: #000000;


$blue: #354685;
$green: #00a066;
$red: #f54d4e;
$red-light: #fe5c5c;
$yellow-light: #f1ad4a;
$grey: #adadad;
$grey-light: #ebedf3;
$grey-base: #cdcdcd;
$white: #ffffff;
$light-dark: #494646;
$black: #000000;

// Colors
$white-70: #f7f7f7;
$white-80: rgba(255, 255, 255, 0.8);
$white-16: rgba(255, 255, 255, 0.16);
$grey-50: #f9fafb;
$grey-80: #f2f4f7;
$grey-100: #f2f4f7;
$grey-200: #e4e7ec;
$grey-300: #d0d5dd;
$grey-400: #98a2b3;
$grey-500: #667085;
$grey-600: #475467;
$grey-700: #344054;
$blue-50: #eff8ff;
$blue-300: #84caff;
$blue-600: #1570ef;

$border-radius-box: 16px;
$border-radius-50: 50%;

$noOfSlides: 5;

$particleSize: 10vmin;

$border-radius-primary: 20px;
$border-radius-50: 50%;

$z-index-sidebar: 1000;
$z-index-header:  1000;
$z-index-modal:   1010;

$tablet-bp: 991px;
$mobile-bp: 575px;
$extra-mobile-bp: 355px;