// @import url("/assets/plugins/fontawesome/css/all.min.css");
@import "font-primary";
@import "vars";
@import "mixins";

html {
    // font-size: 62.5%;
}

body {
    background-color: $grey-10;
    font-family: "Averta CY", sans-serif;
    // font-size: 1.6rem;
    // line-height: 2.2rem;
    // color: $light-dark;
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }

    @include breakpoint($tablet-bp) {
        &.show-sidebar {
            overflow: hidden;
        }
    }
}

.box {
    background-color: $white;
    border-radius: $border-radius-primary;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.page-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    color: #64656a;

    @include breakpoint($mobile-bp) {
        font-size: 20px;
        line-height: 25px;
    }
}

.page-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #79858d;

    @include breakpoint($mobile-bp) {
        font-size: 10px;
        line-height: 14px;
    }
}

.anchor {
    color: #1FABE3;
}

.platinum {
    color: #A2BDCB;
}

.gold {
    color: #E3D468;
}

.silver {
    color: #C9CCCD;
}

.bronze {
    color: #BCA992;
}


.background {
    width: 100%;
    height: 100%;
    background: #1fabe3;
    position: absolute;
    z-index: -1;
    transition: all 0.5s;

    & span {
        width: $particleSize;
        height: $particleSize;
        border-radius: $particleSize;
        backface-visibility: hidden;
        position: absolute;
        transition: all 0.5s;

        &:nth-child(1) {
            color: #be83ed;
            top: -15px;
            right: 0;
            box-shadow: -21vmin 0 8vmin #be83ed;
        }

        &:nth-child(2) {
            color: #1d48b8;
            top: 80%;
            right: 107%;
            box-shadow: 18vmin 0 8vmin #1d48b8;
        }

        &:nth-child(3) {
            color: #f3df28;
            top: 30px;
            left: 0;
            box-shadow: 22vmin 0 8vmin #f3df28;
        }
    }
}

@keyframes move {
    0% {
        transition: all 0.5s;
    }
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
        transition: all 0.5s;
    }
}

/* Blocks */
@import "blocks/header";
@import "blocks/burger";
@import "blocks/registration";
@import "blocks/delegate-reg";
@import "blocks/success-reg";
@import "blocks/sponsorship-package";
@import "blocks/sponsorship-tabs";
@import "blocks/ala-carte-sponsorship";
@import "blocks/select-edit";
@import "blocks/selected-services";
@import "blocks/delegate-exhibition";
@import "blocks/exhibition";
@import "blocks/nav";
@import "blocks/modal";
@import "blocks/footer";
