
    .navbar-toggler {
        position: relative;
        width: 18px;
        height: 16px;
        display: flex;

        .humburger-toggle {
            position: absolute;
            // top: 50%;
            // left: 50%;
            // margin-left: -22px;
            // margin-top: -22px;
            width: 18px;
            height: 16px;
            cursor: pointer;
            
            .line {
                position: absolute;
                right: 0;
                width: 18px;
                height: 2px;
                background: $black;

                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 50%;
                    width: 12px;
                }
                &:nth-child(3) {
                    top: 100%;
                }
            }

        }
        
        @include breakpoint($tablet-bp) {
            margin-left: 28px;
        }
    }