.delegate-exhibition {
	padding: 21px 30px;
	margin-top: 52px;
	margin-bottom: 84px;

	@include breakpoint($mobile-bp) {
		padding: 20px;
	}
}

.box__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	color: #64656a;
	margin-bottom: 53px;
}

.wrapper {
	width: 100%;
	position: relative;
	max-width: 546px;
	margin: 0 auto 100px;
}

.horizontal__card {
	border: none;
	max-width: 263px;
	min-height: 105px;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	border: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #1fabe3;
	border-radius: 20px;
	padding: 33px;
	z-index: 0;
	transition: all 0.5s;

	@include breakpoint($mobile-bp) {
		padding: 10px 15px;
		align-items: start;
		min-height: 105px;
		max-width: 100%;
	}

	i {
		font-size: 54px;
		color: #ffffff;
		transition: all 0.5s;

		@include breakpoint($mobile-bp) {
			font-size: 40px;
		}
	}

	.card__title {
		margin-top: 5px;
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		color: $white;
		transition: all 0.5s;

		@include breakpoint($mobile-bp) {
			font-size: 15px;
			line-height: 20px;
			margin-top: 15px;
		}
	}

	&:hover {
		text-decoration: none;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
		transition: all 0.5s;

		.background span {
			animation-name: move;
			animation-duration: 6s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			transition: all 0.5s;
		}
	}

	.background {
		width: 100%;
		height: 100%;
		background: #1fabe3;
		position: absolute;
		z-index: -1;
		transition: all 0.5s;

		& span {
			width: $particleSize;
			height: $particleSize;
			border-radius: $particleSize;
			backface-visibility: hidden;
			position: absolute;
			transition: all 0.5s;

			&:nth-child(1) {
				color: #be83ed;
				top: -15px;
				right: 0;
				box-shadow: -21vmin 0 8vmin #be83ed;
			}

			&:nth-child(2) {
				color: #1d48b8;
				top: 80%;
				right: 107%;
				box-shadow: 18vmin 0 8vmin #1d48b8;
			}

			&:nth-child(3) {
				color: #f3df28;
				top: 30px;
				left: 0;
				box-shadow: 22vmin 0 8vmin #f3df28;
			}
		}
	}

	@keyframes move {
		100% {
			transform: translate3d(0, 0, 1px) rotate(360deg);
		}
	}
}
