<div class="col-12 col-md-6 d-flex align-items-center flex-wrap flex-md-nowrap justify-content-center justify-content-md-start">
	<ul class="justify-content-end list-unstyled d-flex mb-3 mb-md-0 me-md-5">
		<li class="ms-0">
			<a class="text-muted" href="https://www.linkedin.com/events/6965993817531383808/">
				<i class="fa-brands fa-linkedin-in"></i>
			</a>
		</li>
		<li class="ms-4">
			<a class="text-muted" href="https://twitter.com/Iac2023">
				<i class="fa-brands fa-twitter"></i>
			</a>
		</li>
		<li class="ms-4">
			<a class="text-muted" href="https://www.facebook.com/IAC2023">
				<i class="fa-brands fa-facebook-f"></i>
			</a>
		</li>
		<li class="ms-4">
			<a class="text-muted" href="https://www.instagram.com/iac2023baku/">
				<i class="fa-brands fa-instagram"></i>
			</a>
		</li>
	</ul>
	<p class="mb-3 mb-md-0 text-muted">Copyright IAC 2022 <span class="ms-3"> all rights reserved</span></p>
</div>
<div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-end">
	<a class="mb-3 mb-md-0 text-muted" href="https://www.iac2023.org/privacy-policy/">Privacy Policy</a>
	<a class="mb-3 mb-md-0 ms-4 text-muted" href="https://iac2023.org/site-notice/">Site Notice</a>
</div>