<div class="col-12 col-md-6">
	<h2 class="header-title">74th International Astronautical Congress</h2>
</div>
<div class="col-12 col-md-6">
	<div class="partners__block">
		<div class="partner__box">
			<div class="partner-title">ORGANIZED BY</div>
			<img class="partner-logo img-fluid" src="assets/images/iaf-logo.svg">
		</div>
		<div class="partner__box">
			<div class="partner-title">HOSTED BY</div>
			<img class="partner-logo img-fluid" src="assets/images/azercosmos-logo.svg">
		</div>
		<div class="partner__box">
			<div class="partner-title">SUPPORTED BY</div>
			<div class="logos-group">
				<img class="partner-logo img-fluid ms-0" src="assets/images/iaa-logo.svg">
				<img class="partner-logo img-fluid ms-2" src="assets/images/iisl-logo.svg">
				<img class="partner-logo img-fluid ms-2" src="assets/images/sgac-logo.svg">
			</div>
		</div>
	</div>
</div>