<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>IAC 2023</title>

<!-- <script data-search-pseudo-elements defer src="assets/plugins/fontawesome/js/all.min.js"></script> -->
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="assets/css/customicons.min.css">
<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap-select.min.css">
<!-- Owl carousel -->
<!-- <link rel="stylesheet" href="assets/plugins/owlcarousel/owl.theme.default.min.css">
<link rel="stylesheet" href="assets/plugins/owlcarousel/owl.carousel.min.css"> -->
<!-- Main css -->
<link rel="stylesheet" href="assets/css/style.min.css">