<!-- Package Modal -->
<div class="modal package__modal fade" id="packageModal" tabindex="-1" aria-labelledby="packageModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<button class="modal__close-btn" data-bs-dismiss="modal" aria-label="Close">
				<i class="fa-regular fa-circle-xmark"></i>
			</button>
			<div class="modal-header mt-2">
				<div class="status__side">
					<p class="package-opportunities">5 opportunities available</p>
					<h2 class="modal-title package-name" id="packageModalLabel">Gold package</h2>
				</div>
				<div class="price__side">
					<p class="price-txt">Package price:</p>
					<p class="package-price">$350</p>
				</div>

			</div>
			<div class="modal-body package__content">
				<div class="opportunities__head">
					<p class="head-txt">Registration</p>
				</div>
				<div class="package-list">
					<ul>
						<li>20 complimentary full-access registration passes to the Congress</li>
					</ul>
				</div>
				<div class="opportunities__head">
					<p class="head-txt">Advertisement & Acknowledgements</p>
				</div>
				<div class="package-list">
					<ul>
						<li>Inclusion of 1 promotional material in each delegate Welcome Bag</li>
						<li>2 full-page advertisements in the IAC Final Programme</li>
						<li>2nd choice of Prime space for one of the Advertisements in Final Programme</li>
						<li>Verbal recognition from the stage at the Opening Ceremony</li>
						<li>Verbal recognition from the stage at the Gala Dinner</li>
						<li>Logo on promotional banner displayed onsite</li>
						<li>A free-standing sign branded with sponsor’s logo, and marketing collateral in the delegate lounge
						</li>
						<li>
							Sponsor’s logo recognition on
							<ul>
								<li> - Onsite congress signage</li>
								<li> - Congress website and app</li>
								<li> - Final Programme</li>
								<li> - All promotional email blasts</li>
							</ul>

						</li>
						<li>3 Young Professionals networking reception branding opportunities</li>
						<li>
							Logo recognition at the following events:
							<ul>
								<li> - Opening Ceremony</li>
								<li> - Gala Dinner</li>

							</ul>
						</li>
					</ul>
				</div>
				<div class="opportunities__head">
					<p class="head-txt">Exhibition</p>
				</div>
				<div class="package-list">
					<ul>
						<li>Complimentary exhibition space in prime location: 200 sqm.</li>
						<li>2nd priority in choice of exhibition space location</li>
						<li>24 complimentary exhibition booth staff badges (access strictly limited to exhibition floor)</li>
						<li>Logo and exhibitor profile in the Final Programme exhibitor list and smartphone app</li>						
					</ul>
				</div>
				<div class="opportunities__head">
					<p class="head-txt">Additional Privileges</p>
				</div>
				<div class="package-list">
					<ul>
						<li>3 VIP seats at the Opening Ceremony</li>
						<li>3 complimentary tickets for the Gala Dinner</li>
						<li>3 complimentary tickets to the Cultural Events / Social Tours</li>				
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>